faster-whisper
openai
PyAudio
SpeechRecognition
Pillow
pyperclip
langchain-core 
langgraph
langchain-openai
langchain_community
chromadb
sounddevice
numpy
scipy
fitz
PyMuPDF
rank_bm25
gtts
pygame
pydub
colorama
sentence_transformers
# HOMEBREW_NO_ENV_HINTS